
.canvasContainer {
	width:100%;
	text-align: center;
	border-radius: 25px;
	padding: 5px; 
}

canvas {
	border-radius: 25px;
	display: inline;
	background: white;
}

body {
	background: #007bff;
}

.board-row {
	text-align: center;
	padding: 10px;
}

img {
	display: none;
}